[build]
  command = "npm run build"
  publish = "build"

[dev]
  # Useful for local netlify dev: start vite dev server
  command = "npm run dev"
  port = 3000

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
